<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>

  <body>
    <a href="/">Add User</a>
    <% if (users.length > 0) { %>
    <ul>
      <% for (user of users) { %>
      <li><%= user %></li>
      <% } %>
    </ul>
    <% } else { %>
    <h1>No users found</h1>
    <% } %>
  </body>
</html>
